In [13]:
import graphlab as gl

london_sf = gl.SFrame.read_csv('H:/Information Retrieval/Project/twitter/london.txt',
                        delimiter=' ',header=False)
london_sf.rename({'X1':'user_id','X2':'venue_id','X3':'#visits(normalized)'})

#Clean interactions, remove places contain "home"
london_sf = london_sf[london_sf['venue_id'].apply(lambda x: x.find('home'))==-1]
london_sf=london_sf['user_id','venue_id']

len(london_sf['venue_id'].unique())

#Check unique users and items
print('Unique users:',len(london_sf['user_id'].unique()) )
print ('Unique venues:',len(london_sf['venue_id'].unique()))
print ('Total interactions:', len(london_sf))
print(london_sf.head())

Finished parsing file H:\Information Retrieval\Project\twitter\london.txt

Parsing completed. Parsed 100 lines in 2.18412 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,str,float]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file H:\Information Retrieval\Project\twitter\london.txt

Parsing completed. Parsed 48852 lines in 0.192011 secs.

('Unique users:', 9305)
('Unique venues:', 11976)
('Total interactions:', 46711)
+-----------+--------------------------+
|  user_id  |         venue_id         |
+-----------+--------------------------+
|  8493742  | 4ac518c5f964a520e1a420e3 |
|  28777828 | 4c2ceb692219c92835e5a648 |
| 162511952 | 4babef9df964a52012d73ae3 |
|  18816105 | 4aeb31a3f964a5207bbf21e3 |
|  18319254 | 4af7074ff964a520fa0422e3 |
| 376938788 | 4b7c1c76f964a520917d2fe3 |
|  20669549 | 4ac518e7f964a52053ab20e3 |
|  20735661 | 4b838e75f964a520a30931e3 |
| 138078717 | 4f5a594fe4b0b04917548235 |
| 139888796 | 4c177dffd4ee9521ba37ba05 |
+-----------+--------------------------+
[10 rows x 2 columns]

In [14]:
recommendation_sf =gl.SFrame.read_json('H:/Information Retrieval/Project/rec_by_records_latest.json', orient='records')
recommendation_sf.rename({'List of venue_id':'Recommendations'})
print(recommendation_sf.head())
print('Unique users:',len(recommendation_sf['user_id'].unique()))

Finished parsing file H:\Information Retrieval\Project\rec_by_records_latest.json

Parsing completed. Parsed 1 lines in 0.146008 secs.

+-------------------------------+------------+
|        Recommendations        |  user_id   |
+-------------------------------+------------+
| [4f4b60d5e4b0c132f3e0df85,... | 225059732  |
| [522f448a11d29dcb40ba392b,... |  20063137  |
| [4ac518d2f964a52026a720e3,... | 1181033244 |
| [4be52e42910020a160b5d214,... |  10356152  |
| [4be52e42910020a160b5d214,... | 285211221  |
| [4ac518cef964a520f8a520e3,... |  18157365  |
| [4ac518d5f964a52013a820e3,... | 808868670  |
| [4f4b60d5e4b0c132f3e0df85,... | 236111793  |
| [4edce907c2ee3cd644c79c65,... |  21941712  |
| [4ae6cb07f964a5204ca721e3,... | 332552379  |
+-------------------------------+------------+
[10 rows x 2 columns]

('Unique users:', 9305)

In [15]:
user_data = gl.SFrame.read_csv('H:/Information Retrieval/Project/twitter_profiles.csv')

Finished parsing file H:\Information Retrieval\Project\twitter_profiles.csv

Parsing completed. Parsed 100 lines in 1.58109 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long,str,str,str,str,float,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,float,float,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file H:\Information Retrieval\Project\twitter_profiles.csv

Parsing completed. Parsed 21024 lines in 0.477027 secs.

In [16]:
user_data = user_data['id','g_home_city','g_home_country','g_gender','g_age','l_city','uclass']
user_data = user_data[user_data['l_city']=='london']

In [17]:
user_data.rename({'id':'user_id'})
user_data.rename({'g_home_city':'home_city'})
user_data.rename({'g_home_country':'home_country'})
user_data.rename({'g_gender':'gender'})
user_data.rename({'g_age':'age'})
user_data.rename({'l_city':'current_city'})
user_data.rename({'uclass':'type'})

Columns:
	user_id	int
	home_city	str
	home_country	str
	gender	str
	age	str
	current_city	str
	type	str

Rows: Unknown

Data:
+---------+-----------------+----------------+---------+---------+--------------+
| user_id |    home_city    |  home_country  |  gender |   age   | current_city |
+---------+-----------------+----------------+---------+---------+--------------+
|   5976  |   Helsingborg   |     Sweden     |   Male  |    36   |    london    |
|  10997  |    Nottingham   | United Kingdom |   Male  |    27   |    london    |
|  14523  | Newport Pagnell | United Kingdom | Unknown | Unknown |    london    |
|  15573  |      London     | United Kingdom |   Male  |    33   |    london    |
|  18863  |    Birmingham   | United Kingdom | Unknown | Unknown |    london    |
|  21723  |      London     | United Kingdom |   Male  |    40   |    london    |
|  23483  |    Docklands    |   Australia    |   Male  |    21   |    london    |
|  23513  |      Poole      | United Kingdom |   Male  |    28   |    london    |
|  24503  |      London     | United Kingdom | Unknown | Unknown |    london    |
|  28563  |     Hastings    | United Kingdom | Unknown | Unknown |    london    |
+---------+-----------------+----------------+---------+---------+--------------+
+-----------------+
|       type      |
+-----------------+
| FOREIGN_TOURIST |
| FOREIGN_TOURIST |
| FOREIGN_TOURIST |
|     RESIDENT    |
| FOREIGN_TOURIST |
|     RESIDENT    |
| FOREIGN_TOURIST |
| FOREIGN_TOURIST |
|     RESIDENT    |
| FOREIGN_TOURIST |
+-----------------+
[? rows x 7 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [18]:
print('Unique users:',len(user_data['user_id'].unique()) )

('Unique users:', 9553)

In [26]:
london_sf=london_sf.unstack('venue_id', new_column_name='visited_places')
print(london_sf.head())

+------------+-------------------------------+
|  user_id   |         visited_places        |
+------------+-------------------------------+
| 225059732  | [4bbcd49fa8cf76b09703b1fd,... |
|  20063137  | [4e17006462e1ccb5024944c9,... |
| 1181033244 | [4d6b00f76107f04d95492a7a,... |
|  10356152  | [4ac518f6f964a52052af20e3,... |
| 285211221  | [5395926f11d283da0ca0b11f,... |
|  18157365  | [52d144c5498ea03401c4117f,... |
| 808868670  | [52a33c3f11d2da184386b506,... |
| 236111793  | [4b114284f964a520657923e3,... |
|  21941712  | [4bed0fc8e3562d7fef81fef8,... |
| 332552379  | [4c1d2bba63750f478bcfb767,... |
+------------+-------------------------------+
[10 rows x 2 columns]

In [27]:
rec_london_sf=recommendation_sf.join(london_sf,on='user_id', how='left')
print(rec_london_sf.head())
print('Unique users:',len(rec_london_sf['user_id'].unique()) )

+-------------------------------+------------+-------------------------------+
|        Recommendations        |  user_id   |         visited_places        |
+-------------------------------+------------+-------------------------------+
| [4f4b60d5e4b0c132f3e0df85,... | 225059732  | [4bbcd49fa8cf76b09703b1fd,... |
| [522f448a11d29dcb40ba392b,... |  20063137  | [4e17006462e1ccb5024944c9,... |
| [4ac518d2f964a52026a720e3,... | 1181033244 | [4d6b00f76107f04d95492a7a,... |
| [4be52e42910020a160b5d214,... |  10356152  | [4ac518f6f964a52052af20e3,... |
| [4be52e42910020a160b5d214,... | 285211221  | [5395926f11d283da0ca0b11f,... |
| [4ac518cef964a520f8a520e3,... |  18157365  | [52d144c5498ea03401c4117f,... |
| [4ac518d5f964a52013a820e3,... | 808868670  | [52a33c3f11d2da184386b506,... |
| [4f4b60d5e4b0c132f3e0df85,... | 236111793  | [4b114284f964a520657923e3,... |
| [4edce907c2ee3cd644c79c65,... |  21941712  | [4bed0fc8e3562d7fef81fef8,... |
| [4ae6cb07f964a5204ca721e3,... | 332552379  | [4c1d2bba63750f478bcfb767,... |
+-------------------------------+------------+-------------------------------+
[10 rows x 3 columns]

('Unique users:', 9305)

In [28]:
final_sf=rec_london_sf.join(user_data,on='user_id', how='left')

print(final_sf.head())
print('Unique users:',len(final_sf['user_id'].unique()) )

+-------------------------------+---------+-------------------------------+
|        Recommendations        | user_id |         visited_places        |
+-------------------------------+---------+-------------------------------+
| [4ac518d2f964a5203da720e3,... |   5976  | [4acf3eb0f964a520ddd220e3,... |
| [4ba7c51cf964a520c7b139e3,... |  14523  | [4f182f1aa17c202e1058990c,... |
| [4e3ea26445dd68e32748c6f1,... |  15573  | [4c45f452f88dc9281951ae75,... |
| [4aeecd2df964a52049d421e3,... |  21723  | [4ac518d3f964a5204da720e3,... |
| [4bc8ef89b6c49c740b768d91,... |  24503  | [4d53bd505b3f6dcb06c0d6cc,... |
| [4e175b25183880768f35a7e5,... |  33433  | [4f994ccbe4b0973bbc56a29b,... |
| [4ac518d2f964a52026a720e3,... |  33943  | [531ccb56498ed12bc9f9e5a0,... |
| [4c9c6a059c48236a1cb14dee,... |  45393  | [4ad6dc04f964a520530821e3,... |
| [4be52e42910020a160b5d214,... |  60033  | [4b7e5255f964a52076e92fe3,... |
| [4ac518d2f964a5203da720e3,... |  64623  | [4b0bf426f964a5200e3523e3,... |
+-------------------------------+---------+-------------------------------+
+-----------------+----------------+---------+---------+--------------+
|    home_city    |  home_country  |  gender |   age   | current_city |
+-----------------+----------------+---------+---------+--------------+
|   Helsingborg   |     Sweden     |   Male  |    36   |    london    |
| Newport Pagnell | United Kingdom | Unknown | Unknown |    london    |
|      London     | United Kingdom |   Male  |    33   |    london    |
|      London     | United Kingdom |   Male  |    40   |    london    |
|      London     | United Kingdom | Unknown | Unknown |    london    |
|      London     | United Kingdom | Unknown | Unknown |    london    |
|      London     | United Kingdom | Unknown | Unknown |    london    |
|     Dorking     | United Kingdom |   Male  |    24   |    london    |
|     Brighton    | United Kingdom | Unknown | Unknown |    london    |
|      London     | United Kingdom |   Male  |    47   |    london    |
+-----------------+----------------+---------+---------+--------------+
+-----------------+
|       type      |
+-----------------+
| FOREIGN_TOURIST |
| FOREIGN_TOURIST |
|     RESIDENT    |
|     RESIDENT    |
|     RESIDENT    |
|     RESIDENT    |
|     RESIDENT    |
| FOREIGN_TOURIST |
| FOREIGN_TOURIST |
|     RESIDENT    |
+-----------------+
[10 rows x 9 columns]

('Unique users:', 9305)

In [29]:
final_sf = final_sf.fillna('type','Unknown')
final_sf = final_sf.fillna('home_city','Unknown')
final_sf = final_sf.fillna('home_country','Unknown')
final_sf = final_sf.fillna('gender','Unknown')
final_sf = final_sf.fillna('age','Unknown')
final_sf = final_sf.fillna('current_city','Unknown')

print(final_sf[590])

{'home_city': 'Unknown', 'gender': 'Unknown', 'age': 'Unknown', 'current_city': 'Unknown', 'visited_places': ['4bd55a915631c9b62af2a330', '5264f8b011d29cd4e3d4a1d1', '519b2f49498e2450ee2448a9'], 'Recommendations': ['4ac518cef964a520f8a520e3', '4f9dc83cbb3d11bba0330d01', '513f8bb3e4b0f8e5e8926a98'], 'user_id': 467269219L, 'home_country': 'Unknown', 'type': 'Unknown'}

In [35]:
final_sf.save('H:/Information Retrieval/Project//final_sf.json', format='json')

In [38]:
import json

json_file = open('H:/Information Retrieval/Project/final_sf.json')
json_str = json_file.read()
json_data = json.loads(json_str)
#print(json_data)

lis=[]
#for i in range(len(json_data)):
for i in range(len(json_data)):
	for j in range(3):
		dic={ 'venue_id' : json_data[i]['Recommendations'][j], 'status' : 0, 'explaination' : "", 'provider' : ""}
		json_data[i]['Recommendations'][j] =dic

with open('H:/Information Retrieval/Project/user_table_data1.json', 'w') as outfile:
        json.dump(json_data, outfile)